.container{
border: 2px solid black;
display: grid;
grid-template-columns: [First]120px [Second]100px;
grid-template-rows: 100px 100px 100px;
}

.item{
border: 2px solid red;
height: 30px;
width: 30px; 
}
.item-4{
  grid-row: 1/2;
  grid-column: 1/2;
}

.item-1{
  grid-row: 1/2;
  grid-column: 1/2;
  /* alternative: 
  grid-column-start: 1;
  grid-column-end: 2; */
}